{{template "header" .}}
    
<main>
    <h1>Welcome to My Website</h1>
    
    {{if .User}}
        <div class="user-profile">
            <h2>Welcome, {{.User.PersonaName}}!</h2>
            <div class="profile-info">
                <img src="{{.User.AvatarMedium}}" alt="{{.User.PersonaName}}'s avatar">
                <p>Steam ID: {{.User.SteamID}}</p>
                <p><a href="{{.User.ProfileURL}}" target="_blank">View Steam Profile</a></p>
            </div>
        </div>
    {{else}}
        <p>Please <a href="/login">login with Steam</a> to see your profile information.</p>
    {{end}}
    
    <div class="content">
        <p>This is the home page created with Go templates!</p>
    </div>
</main>

{{template "footer" .}}